## News popularity research project.

## Данные

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

news_final = pd.read_csv('News_Final.csv')

obama_facebook = pd.read_csv('Facebook_Obama.csv')
obama_googleplus = pd.read_csv('GooglePlus_Obama.csv')
obama_linkedin = pd.read_csv('LinkedIn_Obama.csv')

economy_facebook = pd.read_csv('Facebook_Economy.csv')
economy_googleplus = pd.read_csv('GooglePlus_Economy.csv')
economy_linkedin = pd.read_csv('LinkedIn_Economy.csv')

microsoft_facebook = pd.read_csv('Facebook_Microsoft.csv')
microsoft_googleplus = pd.read_csv('GooglePlus_Microsoft.csv')
microsoft_linkedin = pd.read_csv('LinkedIn_Microsoft.csv')

palestine_facebook = pd.read_csv('Facebook_Palestine.csv')
palestine_googleplus = pd.read_csv('GooglePlus_Palestine.csv')
palestine_linkedin = pd.read_csv('LinkedIn_Palestine.csv')

In [67]:
news_obama = news_final[news_final.Topic == 'obama']
news_economy = news_final[news_final.Topic == 'economy']
news_microsoft = news_final[news_final.Topic == 'microsoft']
news_palestine = news_final[news_final.Topic == 'palestine']

In [34]:
news_final.head(10)

,IDLink,Title,Headline,Source,Topic,PublishDate,SentimentTitle,SentimentHeadline,Facebook,GooglePlus,LinkedIn
0,99248.0,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,0.000000,-0.053300,-1,-1,-1
1,10423.0,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,0.208333,-0.156386,-1,-1,-1
2,18828.0,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-0.425210,0.139754,-1,-1,-1
3,27788.0,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,2015-03-01 00:06:00,0.000000,0.026064,-1,-1,-1
4,27789.0,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,2015-03-01 00:11:00,0.000000,0.141084,-1,-1,-1
5,27790.0,Intellitec Solutions to Host 13th Annual Sprin...,Over 100 attendees expected to see latest vers...,PRWeb,microsoft,2015-03-01 00:19:00,-0.075378,0.036773,-1,-1,-1
6,80690.0,"Monday, 29 Feb 2016","RAMALLAH, February 25, 2016 (WAFA) - Palestine...",NaN,palestine,2016-02-28 14:03:00,0.000000,-0.005906,0,0,0
7,80762.0,"Obama, stars pay a musical tribute to Ray Charles",First lady Michelle Obama speaks in the State ...,Coast Reporter,obama,2015-03-01 00:45:00,0.083333,0.103003,-1,-1,-1
8,80771.0,Fire claims more than 100-year-old barn in Han...,A Hancock County man lost a barn early Monday ...,WTHR Indianapolis,palestine,2015-03-01 01:20:00,-0.173925,-0.050185,-1,-1,-1
9,27803.0,Microsoft's new Windows 10 ad targets Apple,"New Delhi, Feb.29 : Technology giant Microsoft...",New Kerala,microsoft,2015-03-01 01:32:00,-0.059536,-0.081715,-1,-1,-1

In [52]:
palestine_facebook[palestine_facebook['TS144'] == -1]

,IDLink,TS1,TS2,TS3,TS4,TS5,TS6,TS7,TS8,TS9,...,TS135,TS136,TS137,TS138,TS139,TS140,TS141,TS142,TS143,TS144
9,61983,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
12,61987,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
16,61991,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
22,62004,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
28,62187,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7472,103508,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7552,104044,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7575,104180,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7579,104191,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7589,104219,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [51]:
palestine_googleplus[palestine_googleplus['TS144'] != -1]

,IDLink,TS1,TS2,TS3,TS4,TS5,TS6,TS7,TS8,TS9,...,TS135,TS136,TS137,TS138,TS139,TS140,TS141,TS142,TS143,TS144
0,61974,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,1,1,1,1,1,1,1,1,1
1,61975,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,16,16,16,16
2,61976,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,0,0,0
3,61977,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,0,0,0
4,61978,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7744,104782,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7745,104793,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7746,104794,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7747,104799,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7748,104800,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,0,0,0,0

In [49]:
palestine_linkedin[palestine_linkedin['TS144']]

,IDLink,TS1,TS2,TS3,TS4,TS5,TS6,TS7,TS8,TS9,...,TS135,TS136,TS137,TS138,TS139,TS140,TS141,TS142,TS143,TS144
9,61983,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
12,61987,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
16,61991,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
22,62004,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
28,62187,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7275,102607,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7478,103508,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7591,104025,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7593,104030,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7651,104221,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [68]:
news_palestine[news_palestine['Facebook'] == -1]

,IDLink,Title,Headline,Source,Topic,PublishDate,SentimentTitle,SentimentHeadline,Facebook,GooglePlus,LinkedIn
8,80771.0,Fire claims more than 100-year-old barn in Han...,A Hancock County man lost a barn early Monday ...,WTHR Indianapolis,palestine,2015-03-01 01:20:00,-0.173925,-0.050185,-1,-1,-1
140,70308.0,The British must formally  and swiftly  ...,Forced evictions of Palestinian farmers from t...,The Guardian,palestine,2015-09-09 00:00:00,0.000000,0.104170,-1,-1,-1
141,69864.0,Palestine flag to fly at UN headquarters after...,Palestine's flag will fly at UN headquarters a...,The Guardian,palestine,2015-09-10 00:00:00,0.024156,-0.355276,-1,-1,-1
142,69866.0,The First-Ever Raising of Palestine's Flag at ...,"Tomorrow, the Palestinian flag will be raised ...",Huffington Post,palestine,2015-09-29 00:00:00,0.081857,0.194754,-1,-1,-1
145,69978.0,Palestine: The Psychotic Stage,"As in this headline: """"""Palestinian Killed As ...",Wall Street Journal,palestine,2015-10-12 00:00:00,0.000000,-0.053572,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...
91587,104180.0,UPDATED: Police need community's help in puppy...,Palestine Police investigators are actively pu...,Palestine Herald Press,palestine,2016-07-02 00:00:00,0.036828,0.154743,-1,0,0
91588,104191.0,Couchsurfing (And Keeping Secrets) In Palestin...,"This is Palestine, and it's scary to see how e...",Worldcrunch,palestine,2016-07-02 00:00:00,0.236228,-0.124220,-1,1,0
91589,104219.0,A Notable Legal Victory for Justice in Palestine,BEIRUT — A British court decision earlier this...,Middle East Online,palestine,2016-07-02 00:00:00,0.265165,0.000000,-1,0,0
91599,104044.0,"Palestine, Anderson County part of federal dis...",The City of Palestine received notification th...,Palestine Herald Press,palestine,2016-07-02 00:19:20,-0.121534,-0.153238,-1,0,0
91760,104440.0,Plane carrying two people crashes on Lake Pale...,Officials are investigating after a plane cras...,News West 9 Midland,palestine,2016-07-02 20:44:00,0.044194,0.000000,-1,-1,-1